/*********************
Lara Fernández - UO276026
Descripción de los estilos
**********************/



h1{
    color:#123944; 
    font-family: Arial, sans-serif;
}

p{
  text-align:justify;
  
}



form {
  color: white;
  background-color: #E3E2E2;
  width: max-content;
  padding: 1.2em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 5em);
  grid-template-rows: repeat(11, 3em);
  gap: 1em;
}

section[value="firstRow"]
{
    grid-column-end: span 5;
    display: grid;
    grid-template-columns: repeat(5, 5em);
    gap: 1em;
}

input{
  font-size: 1em;
  border:none;
}


input[type=text] {
  background-color: #E3E2E2;
  text-align: right;
  grid-column-end: span 5;
  grid-row-end: span 2;
  font-size:1.5em;
  font-weight: bold;
 
  
}

input[type=button]{
  background-color: #EFEFEF;
}

input[value="MC"], 
input[value="MR"], 
input[value="MS"],
input[value="M+"],
input[value="M-"],
input[value="DEG"],
input[value="RAD"],
input[value="GRAD"],
input[value="HYP"],
input[value="F-E"] {
  font-weight: bold;
  background-color: #E3E2E2;
}


input[value="0"], 
input[value="1"], 
input[value="2"],
input[value="3"],
input[value="4"],
input[value="5"],
input[value="6"],
input[value="7"],
input[value="8"],
input[value="9"],
input[value=","] {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #ffffff;
}





