/*********************
Lara Fernández - UO276026
Descripción de los estilos
**********************/

body{
  font-family: Garamond, serif;
  gap: 0.625em;
  background-color: #fff;
  padding: 0.625em;
  color: #545454; 
  
}

header {
  font-family: Garamond, serif;
  color: #fff;    
  background-color:	#F42D2D; 
  text-transform: uppercase;
  padding: 1em;  
  text-align:center
}

main {  
  display: grid;
  grid-template-columns: 50% 50%;
  
}

h2, h3{
  color:#232323; 
  background-color:	#FFEAAE; 
  width:11em;
  font-family: Arial, sans-serif;
}

ul, label{
  text-align:justify;
  font-size:1.2em;
  color:#232323;
  width:11em;
  
}


li{
  width:40em;
}