/*********************
Lara Fernández - UO276026
Descripción de los estilos
**********************/


 
h1{
    color:#123944; 
    background-color: white;
    font-family: Arial, sans-serif;
}

p{
  text-align:justify;
  
}

label {
  grid-column-end: span 5;
  font-size:1.5em;
  font-family: Arial, sans-serif;
  color:black;
  background-color: #BF7FE0;

}

form {
  color: white;
  background-color: #BF7FE0;
  width: max-content;
  border-radius: 0.625em;
  padding: 1.2em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 3em);
  grid-template-rows: repeat(8, 3em);
  gap: 1em;
}

input{
  font-size: 1em;
}

input[type=text] {
  background-color: #B8B3A8;
  color:#4D4D4D;
  text-align: right;
  border-radius: 0.625em;
  grid-column-end: span 5;
  grid-row-end: span 2;
  font-size:1.5em;
  
}

input[type=submit] {
  font-weight: bold;
}

input[value="+"]
{
    grid-column-end: span 1;
    grid-row-end: span 2;
}



