/*********************
Lara Fernández - UO276026
Descripción de los estilos
**********************/

/* Especifidad 001 */
body{
  font-family: Garamond, serif;
  gap: 0.625em;
  background-color: #fff;
  padding: 0.625em;
  color: #545454; 
  font-family: Arial, sans-serif;
}

/* Especifidad 001 */
header {
  font-family: Garamond, serif;
  color: #fff;    
  background-color:	#F42D2D; 
  text-transform: uppercase;
  padding: 1em;  
  text-align:center
}



/* Especifidad 001 */
nav{
  background-color:	#7C0303; 
  white-space: pre-line;
  padding:1em;
  height: 50em;
  gap:3em;
}

/* Especifidad 002 */
nav a {
  color: #fff; 
  text-decoration: none;
  padding: 1em 1em;
  text-transform: uppercase;
  
}

/* Especifidad 001 */
main {  
  padding: 1 em;
}

/* Especifidad 001 */
h2, h3{
  color:#232323; 
  background-color:	#FFEAAE; 
  width:18.75em;
}


/* Especifidad 001 */
dt{
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 0.5em;
}

/* Especifidad 001 */
dd{
  padding-bottom: 0.5em;
}

/* Especifidad 001 */
table, th{
  padding: 0 0 0.5em 0;
  border: 0.0625em solid;
}

td{
  padding: 0 0 0.5em 0;
  border: 0.0625em solid;
  text-align:center
}

/* Especifidad 001 */
video{
    height: 50%;
    width:90%;
}

/* Especifidad 001 */
footer{
  color: #fff;    
  background-color:	#000; 
  font-family: Garamond, serif;  
}

p{
  text-align:justify
}

/* Especifidad 001 */
form{ 
	background-color:#FCF3DC;
  padding:0.3125em;
}
