/*********************
Lara Fernández - UO276026
Descripción de los estilos
**********************/

body{
  font-family: Garamond, serif;
  gap: 0.625em;
  background-color: #fff;
  padding: 0.625em;
  color: #545454; 
  
}

p{
  color:black; 
}

header {
  font-family: Garamond, serif;
  color: #fff;    
  background-color:	#F42D2D; 
  text-transform: uppercase;
  padding: 1em;  
  text-align:center
}

h2, h3{
  color:#232323; 
  background-color:	#FFEAAE; 
  width:11em;
  font-family: Arial, sans-serif;
}

ul{
  text-align:justify;
  font-size:1.1em;
}
